
<p>
  <b>Name:</b>
  <%= comment.name %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.content %>
</p>
 
<p>
  <%= link_to 'Delete', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete, :class => "btn btn-danger" %>
</p>