<h3>Most popular Attractions</h3>

	<p>New Delhi : the capital of India</p>
		<p>Things to do:</p>
			Akshardham<br>
			Lodhi Gardens

	<p>Gurgaon</p>
		<p>Things to do:</p>
			Tikli Bottom
			Sultanpur National Parl Bird Sanctuary
			Kingdom of Dreams

	<p>Manali, Himachal Pradesh</p>
		<p>Things to do:</p>
			River Beas
			Solang-Nullah

	<p>Shimla, Himachal Pradesh</p>
		<p>Things to do:</p>
			Viceregal Lodge
			Jakhoo Temple
			The Mall
			The Ridge
			Kalka-Shimla Railway

	<p>Leh, Ladakh</p>
		<p>Things to do:</p>
			Nubra Valley
			Magnetic Hill
			Thiksey Monastery

	<p>Jaisalmer, Rajasthan</p>
		<p>Things to do:</p>
			Sam Sand Dunes
			Fortness
			Patwaon ki Haveli

	<p>Jodhpur, Rajasthan</p>
		<p>Things to do:</p>
			Meherangarh Fort

	<p>Jaipur, RAjasthan</p>
		<p>Things to do:</p>
		    Amber (Amer) Fort and Palace
		    Jantar Mantar - Jaipur
		    Elefantastic

	<p>Goa</p>
		<p>Things to do:</p>
		    Agonda Beach
		    Cavelossim Beach
		    Dudhsagar Falls

	<p>Srinagar, Kashmir</p>
		<p>Things to do:</p>
			Dal Lake
			Indra Gandhi Tulip Garden
			Shankaracharya Hill

	<p>Hyderabad</p>
		<p>Things to do:</p>
			Birla Mandir
			Golkonda Fort
			Ramoji Film City

	<p>Chennai</p>
		<p>Things to do:</p>


	<p>Mumbai</p>

		    ISKCON Temple- Mumbai
		    Bandra-Worli Sea Link
		    Mahalakshmi Temple

	<p>Kochi</p>

			Kerala Backwaters
			Kerala Folklore Theatre and Museum
			Fort Kochi

	<p>Agra</p>

			Taj Mahal
			Agra Fort

	<p>Bangalore</p>

			Basavanagudi
			Shivasamundram Falls

	<p>Udaipur</p>

			Jain Temple
			City Paalace of Udaipur
			Lak Pichhola

	<p>Ahmedabad</p>

			Sabarmati Ashram
			Adalaj Step-Well
			Calico Museum of Textiles

	<p>Munnar</p>

			Tea Gardens
			Top Station
			Punarjani Tradtional Village

	<p>Gangtok</p>

			Tsomgo Lake
			Ranka Monastery
			Himalayan Zoological Park

	<p>Ajanta Caves</p>

	<p>Jim Corbett National Park</p>

	<p>Himalayas</p>

	<p>Andaman and Nicobar Islands</p>