@import url(http://fonts.googleapis.com/css?family=Condiment);

/* ----- Navbar ----- */


.navbar-inner {
  min-height: 40px;
  padding-right: 40px;
  padding-left: 20px;
  background-image: none;

  }


  .navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-top: 10px;
  margin-left: -20px;
  font-size: 30px;
  font-weight: 200;
  text-shadow: 0 1px 0 #ffffff;
  font-family: Condiment, cursive;
}




.content {
  margin-top: 80px;
}

.carousel {
  position: relative;
  margin-bottom: 21px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
   height: 500px;
   width: 1000px;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: black;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h5,
.carousel-caption p {
  line-height: 21px;
  color: black;
}

.carousel-caption h5 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}


   

/* typography */

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
}

h2 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: grayLight;
  font-family: 'Condiment', cursive;
  text-decoration: none;
}

h3 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: grayLight;
  font-family: 'Condiment';
  
}

h4 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: grayLight;
  font-family: 'Condiment', cursive;
}

h5 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: grayLight;


  }

h6 {
  font-size: 1.7em;
  line-height: 1;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: grayLight;
  font-family: 'Condiment', cursive;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: Arial, Calibri;
}
