<div class="container">
                    <div class="footer-border">
                      <div class="row">
                        <div class="span12">
                          <p class="pull-right">Designed by <a href="http://www.shalininirwal.com" target="_blank">Shalini</a></p>
                          <p><span class="HolidaysinIndia">&copy; HolidaysinIndia 2013 &middot; </span>
                            <a href="/privacy">Privacy</a> <span class="HolidaysinIndia">&middot;</span>
                            <a href="/enquiries/new">Contact</a> <span class="HolidaysinIndia">&middot; </span>
                          </p>
                          <%= yield :scripts %>
                        </div>
                      </div>
                    </div>
                  </div>